<% location = @location || @location %>
<% context ||= location %>
<% collection ||= :reservations %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: reservation do %>
  <tr data-id="<%= reservation.id %>">
    <%= render "shared/tables/checkbox", object: reservation %>
    <td><%= render 'shared/attributes/belongs_to', attribute: :booking, url: [:account, reservation] %></td>
    <td><%= render 'shared/attributes/belongs_to', attribute: :room %></td>
    <td><%= render 'shared/attributes/date', attribute: :date %></td>
    <td><%= render 'shared/attributes/option', attribute: :status %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <% if can? :edit, reservation %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, reservation], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, reservation %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, reservation], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(reservation)) }, class: 'button-secondary button-smaller' %>
        <% end %>
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
