<% cancel_path ||= person.persisted? ? [:account, person] : [:account, @team, :people] %>

<%= form_with model: person, url: (person.persisted? ? [:account, person] : [:account, @team, :people]), local: true, class: 'form' do |form| %>
  <%= render "shared/limits/form", form: form, cancel_path: cancel_path do %>
    <%= render 'account/shared/forms/errors', form: form %>

    <% with_field_settings form: form do %>
      <%= render 'shared/fields/text_field', method: :firstname, options: {autofocus: true} %>
      <%= render 'shared/fields/text_field', method: :lastname %>
      <%= render 'shared/fields/text_field', method: :phone %>
      <%= render 'shared/fields/text_field', method: :email %>
      <%= render 'shared/fields/trix_editor', method: :notes %>
      <%# 🚅 super scaffolding will insert new fields above this line. %>
    <% end %>

    <div class="buttons">
      <%= form.submit (form.object.persisted? ? t('.buttons.update') : t('.buttons.create')), class: "button" %>
      <%= link_to t('global.buttons.cancel'), cancel_path, class: "button-secondary" %>
    </div>
  <% end %>
<% end %>
